{% extends '@app/base.html.twig' %}

{% block content %}
    <div class="page page-password-forgotten">

        <div class="form-password-forgotten">
            {{ form_start(form) }}

            <h1 class="form-title">
                {{ translation.password_forgotten_form_title }}
            </h1>{# /.form-title #}

            <div class="form-group">
                <label for="">{{ translation.password_forgotten_form_email }}</label>
                {{ form_widget(form.email) }}
            </div> {# /.form-group #}

            <div class="controls">
                {{ form_widget(form.submit, {  'label': translation.password_forgotten_form_submit, 'attr': {'class': 'btn-primary'} }) }}
            </div> {# /.controls #}

            {{ form_end(form) }}
        </div> {# /.form-password-forgotten #}
    </div>
{% endblock %}