{% extends '@core/admin/theme/basique/base.html.twig' %}

{% block content %}

    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Référence</th>
            <th scope="col">Client</th>
            <th scope="col">Panier</th>


            <th scope="col">Etat de la commande</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        {% if entities|length > 0 %}
            {% for entity in entities %}
                <tr>
                    <td class="row">{{ loop.index }}</td>
                    <td>{{ entity.reference }}</td>

                    <td>
                        {#<a href="{{ path('shopping_admin_customer_form', {'id' : entity.cart.id}) }}">{{ entity.customer }}</a>#}

                        {{ entity.deliveryLastname }} {{ entity.deliveryFirstname }}
                    </td>
                    <td>
                        {% if entity.cart != null %}
                            <a href="{{ path('shopping_admin_cart_view', {'id' : entity.cart.id}) }}">Voir le panier</a>
                        {% endif %}
                    </td>
                    <td>
                        <div class="dropdown dropdown">

                            {% if entity.status == 0 %}
                                <button type="button" class="btn btn-warning btn-sm " id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    En attente de paiement
                                </button>
                            {% elseif entity.status == 1 %}
                                <button type="button" class="btn btn-primary btn-sm " id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Payée
                                </button>
                            {% elseif entity.status == 2 %}
                                <button type="button" class="btn btn-info btn-sm " id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    En cours de préparation
                                </button>
                            {% elseif entity.status == 3 %}
                                <button type="button" class="btn btn-success btn-sm " id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Expediée
                                </button>
                            {% elseif entity.status == 4 %}
                                <button type="button" class="btn btn-danger btn-sm " id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Annulée
                                </button>
                            {% elseif entity.status == 5 %}
                                <button type="button" class="btn btn-danger btn-sm " id="dropdownMenuButton"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Erreur de paiement
                                </button>
                            {% endif %}

                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item btn-status" href="#" data-status="0" data-id="{{ entity.id }}">En
                                    attente de paiement</a>
                                <a class="dropdown-item btn-status" href="#" data-status="1" data-id="{{ entity.id }}">Payée</a>
                                <a class="dropdown-item btn-status" href="#" data-status="2" data-id="{{ entity.id }}">En
                                    cours de préparation</a>
                                <a class="dropdown-item btn-status" href="#" data-status="3" data-id="{{ entity.id }}">Expediée</a>
                                <a class="dropdown-item btn-status" href="#" data-status="4" data-id="{{ entity.id }}">Annulée</a>
                                <a class="dropdown-item btn-status" href="#" data-status="5" data-id="{{ entity.id }}">Erreur
                                    de paiement</a>
                            </div>
                        </div>

                    </td>
                    <td>{{ entity.createdAt|date('d/m/Y \à h:i') }}</td>
                    <td>


                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <a class="btn btn-warning btn-sm" href="{{ path('shopping_admin_order_form', {'id' : entity.id}) }}">Modifier</a>
                        {% endif %}

                        <a class="btn btn-info btn-sm" href="{{ path('shopping_admin_order_view', {'id' : entity.id}) }}">Aperçu</a>

                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="5">Aucune page disponible</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}

{% block footer_right %}
    {% if is_granted('ROLE_SUPER_ADMIN') %}
        <a href="{{ path('shopping_admin_order_form', {'id' : -1 }) }}" class="btn btn-success">
            <i class="fas fa-plus"></i>Nouveau
        </a>
    {% endif %}
{% endblock %}




{% block javascripts %}

    <script>

        $('.btn-status').on('click', function () {

            var dataToSend = {
                'id': $(this).attr('data-id'),
                'status': $(this).attr('data-status')
            };

            $.ajax({
                url: "{{ path('shopping_admin_order_status') }}",
                data: dataToSend,
                method: 'post',
                success: function (data) {

                    window.location.replace(data['redirect']);
                }
            })
        });

    </script>
{% endblock %}