{% macro partialTranslations(form, fieldsNames, tab_id, class) %}
    {{ form_errors(form) }}
    <div class="a2lix_translations">

        {% if  form|length > 1 %}
            <ul class="a2lix_translationsLocales nav nav-tabs" role="tablist">
                {% for translationsFields in form %}
                    {% set locale = translationsFields.vars.name %}

                    <li class="nav-item">
                        <a href="#{{ translationsFields.vars.id }}_a2lix_translations-fields_{{ tab_id }}"
                           class="nav-link {% if app.request.locale == locale %}active{% endif %}" data-toggle="tab"
                           role="tab">
                            {{ translationsFields.vars.label|default(locale|humanize)|trans }}
                            {% if translationsFields.vars.required %}*{% endif %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div class="a2lix_translationsFields tab-content">
            {% for translationsFields in form %}
                {% set locale = translationsFields.vars.name %}

                <div id="{{ translationsFields.vars.id }}_a2lix_translations-fields_{{ tab_id }}"
                     class="tab-pane {% if app.request.locale == locale %} active{% endif %} {% if not form.vars.valid %}sonata-ba-field-error{% endif %}"
                     role="tabpanel">
                    {% for field in  translationsFields if field.vars.name in fieldsNames %}

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    {{ form_widget(field, {'attr' : {'class' : class}}) }}
                                </div>
                            </div>
                        </div>


                    {% endfor %}

                </div>
            {% endfor %}
        </div>
    </div>
{% endmacro %}
