{% extends '@core/admin/theme/basique/base.html.twig' %}

{% import "bundles/a2lix/macros.html.twig" as a2lixTranslations %}


{% block content %}


    {% set item_content %}
        <div class="inbox">
            <div class="row">
                <div class="col-md-4 column-left">
                    {% for item in inbox %}
                        <div id="inbox_item_{{ item.id }}" class="inbox_item" data-id="{{ item.id }}">
                            <div class="mail_icon">
                                <div class="icon-readed {% if item.isReaded %}active{% endif %}">
                                    <i class="material-icons check">check_circle</i>
                                    <i class="material-icons uncheck">highlight_off</i>
                                </div>
                            </div>
                            <div class="mail_body">
                                <div class="mail_header">
                                    <span class="mail_identity">{{ item.identity }}</span>
                                    <span class="mail_date">{{ item.createdAt|date('d-m-Y \à H:i') }}</span>
                                </div>
                                <div class="mail_content">
                                    <span class="mail_subject">{{ item.subject|length > 50 ? item.subject|slice(0, 50) ~ '...' : item.subject }}</span>
                                    <span class="mail_message">{{ item.message|length > 100 ? item.message|slice(0, 100) ~ '...' : item.message }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="col-md-8">
                    <div id="inbox_results" class="inbox-results">
                        <p>
                            Sélectionnez un message pour le visualiser
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endset %}

    {% include '@core/admin/theme/basique/includes/card.html.twig' with {
        title: 'Boite de réception',
        content: item_content,
    } %}
{% endblock %}


{% block javascripts %}
    <script>
        $(document).ready(function () {

            $('.inbox_item').on('click', function () {
                console.log("ok");
                var item = $(this);
                var id = $(this).attr('data-id');

                $.ajax({
                    url: "{{ path('sender_admin_inbox_open') }}",
                    method: 'post',
                    data: {'id': id},
                    beforeSend: function () {
                        $('#inbox-results').html('Chargement en cours...');
                    },
                    success: function (_data) {
                        var data = _data['render'];
                        $('#inbox_results').html(data);

                        if (!item.find('.icon-readed').hasClass('active')) {
                            item.find('.icon-readed').addClass('active');
                        }


                        $('.message').on('click', function () {
                            var $message = $(this).closest('.message');
                            var id = $message.attr('data-id');

                            $.ajax({
                                url: "{{ path('sender_admin_inbox_remove') }}",
                                method: 'post',
                                data: {'id': id},
                                success: function (_data) {
                                    $message.remove();
                                    // $('#inbox_item_' + id).remove();
                                }
                            });
                        });
                    }
                })

            });


            $('.inbox_item:nth-child(1)').trigger('click');

        });
    </script>
{% endblock %}

