{#
    Fenêtre modal d'aide à l'utilisation
#}

<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="modal-{{ id }}" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            {# HEADER #}
            <div class="modal-header">
                <h5 class="modal-title" id="modal-{{ id }}">{{ title }}</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> {# /.modal-header #}

            {# CONTENT #}
            <div class="modal-body">
                {{ content|raw }}
            </div> {# /.modal-body #}

            {# FOOTER #}
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            </div> {# /.modal-footer #}

        </div> {# /.modal-content#}
    </div> {# /.modal-dialog #}
</div> {# /.modal #}