{% extends '@app/base.html.twig' %}

{% block content %}
    <div class="page page-customer page-register">

    {# NAVIGATION #}
    {% include '@app/includes/navigation.html.twig' %}

    <div class="page-content">
        <div class="page-container">

            <h1 class="page-title">{{ translation.page_forgot_password_title }}</h1>

            <form id="forgot-form">

                <div class="row">
                    <div class="form-group">
                        <label for="forgot-password">Nouveau mot de passe</label>
                        <input type="password" id="forgot-password" name="forgot_password" required>
                    </div> {# /.form-group #}
                </div> {# /.row #}

                <div class="row">
                    <div class="form-group">
                        <label for="forgot-password-confirm">Confirmer le mot de passe</label>
                        <input type="password" id="forgot-password-confirm" name="forgot_password_confirm" required>
                    </div> {# /.form-group #}
                </div> {# /.row #}

                <div class="row">
                    <div class="controls">
                        <p id="forgot-errors"></p>

                        <a href="{{ '/' ~ locale ~  pages.connect.translate(locale).uri }}">{{ translation.page_forgot_password_connect }}</a>
                        <button id="forgot-submit">Valider</button>
                    </div>
                </div>
            </form>

            <p id="forgot-informations"></p>

        </div> {# /.page-container #}
    </div>  {# /.page-content #}

    {# PAGE FOOTER #}
    {% include '@app/includes/footer.html.twig' %}

    </div>{# /.page #}
{% endblock %}



{% block javascripts %}

    <script>

        $(document).ready(function () {

            /**
             * Keyup sur le formulaire
             * **/
            $('#forgot-form input').on('keyup', remove_errors());

            /**
             * Soumission d'une inscription
             */
            $('#forgot-form').validate({
                rules: {
                    forgot_password: {
                        required: true,
                    },
                    forgot_password_confirm: {
                        required: true,
                        equalTo: "#forgot-password"
                    }
                },
                messages: {
                    forgot_password: "Veuillez insérer un mot de passe",
                    forgot_password_confirm: "Veuillez insérer un mot de passe identique",
                },

                submitHandler: function (form) {

                    var button = $('#forgot-submit');
                    var errors = $('#forgot-errors');
                    var informations = $('#forgot-informations');

                    var dataToSend = {
                        'email': "{{ forgot_email }}",
                        'token': "{{ forgot_token }}",
                        'password': $('#forgot-password').val(),
                        'password_confirm': $('#forgot-password-confirm').val(),
                    };

                    button.html('<i class="fas fa-spinner fa-pulse"></i>');

                    $.ajax({
                        url: '{{ path('user_forgot_password_reset') }}',
                        data: dataToSend,
                    }).done(function (data) {

                        form.remove();
                        informations.html("Votre mot de passe a bien été modifié<br /><a href=\"{{ '/' ~ locale ~  pages.home.translate(locale).uri }}\">Retourner sur le site</a><a href=\"{{ '/' ~ locale ~  pages.connect.translate(locale).uri }}\">Se connecter</a>");

                    }).fail(function (jqXHR, textStatus, errorThrown) {

                        button.html("Valider");

                        if (jqXHR.status == 401) {
                            errors.html('Veuillez remplir le formulaire correctement');
                        } else {
                            errors.html('Une erreure est survenue, veuillez réessayer');
                        }

                        errors.addClass('active');
                    });
                }
            });

            /**
             * Nettoie l'affichage des erreurs
             */
            function remove_errors() {
                var errors = $('#forgot-errors');

                errors.removeClass('active');
                errors.html('');
            }

        });

    </script>

{% endblock %}
