{% extends '@app/base.html.twig' %}

{% block content %}
    <div class="page page-customer page-register">

    {# NAVIGATION #}
    {% include '@app/includes/navigation.html.twig' %}

    <div class="page-content">
        <div class="page-container">

            <h1 class="page-title">{{ translation.page_forgot_password_title }}</h1>

            <form id="forgot-form" class="form form-forgot">

                <div class="row">
                    <div class="form-group">
                        <label for="fogot-email">Adresse e-mail</label>
                        <input type="email" id="forgot-email" name="forgot_email">
                    </div> {# /.form-group #}
                </div> {# /.row #}

                <div class="row">
                    <div class="controls">
                        <p id="forgot-errors"></p>
                        <button id="forgot-submit" class="btn-submit">Réinitialiser</button>
                    </div> {# /.controls #}
                </div> {# /.row #}
            </form>

            <p id="forgot-informations" class="info-forgot"></p>
            <p id="info-return" class="info-return">
                Vous n'avez pas besoin de changer de mot de passe ?
                <a href="{{ '/' ~ locale ~  pages.connect.translate(locale).uri }}">{{ translation.page_forgot_password_connect }}</a>
            </p>

        </div> {# /.page-container #}
    </div>  {# /.page-content #}

    {# PAGE FOOTER #}
    {% include '@app/includes/footer.html.twig' %}

    </div>{# /.page #}
{% endblock %}



{% block javascripts %}

    <script>

        $(document).ready(function () {

            /**
             * Keyup sur le formulaire
             * **/
            $('#forgot-form input').on('keyup', remove_errors());

            /**
             * Soumission d'une requête de réinitialisation
             */
            $('#forgot-form').validate({
                rules: {
                    forgot_email: {
                        required: true,
                        email: true
                    },

                },
                messages: {
                    forgot_email: "Veuillez insérer une adresse e-mail valide"
                },

                submitHandler: function (form) {

                    var button = $('#forgot-submit');
                    var errors = $('#forgot-errors');
                    var informations = $('#forgot-informations');
                    var info = $('#info-return');

                    var dataToSend = {
                        'email': $('#forgot-email').val(),
                    };

                    button.html('<i class="fas fa-spinner fa-pulse"></i>');
                    remove_errors();

                    $.ajax({
                        url: '{{ path('user_forgot_password') }}',
                        data: dataToSend,
                    }).done(function (data) {
                        form.remove();
                        informations.html("Un e-mail a été envoyé à l'adresse e-mail suivante: " + dataToSend['email'] + "<br /><a href=\"{{ '/' ~ locale ~  pages.connect.translate(locale).uri }}\">Retourner sur le site</a>");
                        info.remove();

                    }).fail(function (jqXHR, textStatus, errorThrown) {

                        button.html("Réinitialiser");

                        if (jqXHR.status == 401) {
                            errors.html('Adresse e-mail invalide');
                        } else {
                            errors.html('Une erreure est survenue, veuillez réessayer');
                        }

                        errors.addClass('active');
                    });

                }
            });

            /**
             * Nettoie l'affichage des erreurs
             */
            function remove_errors() {
                var errors = $('#forgot-errors');

                errors.removeClass('active');
                errors.html('');
            }

        });

    </script>

{% endblock %}
