{% extends '@app/account/base.html.twig' %}

{% block account_title %}
    {{ translation.page_account_newsletters_title }}
{% endblock %}

{% block account_content %}

    <div class="newsletter">
        <form id="form-newsletter" class="form form-newsletter">

            <div class="ariane">
                <a href="{{ '/' ~ locale ~  pages.account.translate(locale).uri }}">{{ translation.page_account_ariane_home }} </a> - {{ translation.page_account_newsletters_title }}
            </div>

            <div class="row">
                <div class="form-group form-radio">

                    <input type="checkbox" name="edit-newsletter"
                           {% if account.customer.useNewsletter == 1 %}checked{% endif %} id="edit-newsletter">
                    <label for="edit-newsletter">{{ translation.page_account_newsletter_btn_register|raw }}</label>

                </div> {# /.form-group #}
            </div> {# /.row #}

            <div class="controls">
                <button id="edit-newsletter-submit" class="btn btn-submit">{{ translation.page_account_save }}</button>
                <p id="edit-newsletter-errors"></p>
            </div>

        </form>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {


            /**
             *  Modification du mot de passe
             */
            $('#form-newsletter').validate({
                rules: {
                    'edit-newsletter': {
                        required: true,
                    },
                },
                messages: {
                    'edit-newsletter': "{{ translation.page_errors_invalid_newsletter|raw }}",
                },

                submitHandler: function (form) {

                    let button = $('#edit-newsletter-submit');
                    let errors = $('#edit-newsletter-errors');
                    let newsletter = 0;

                    if ($('input[name="edit-newsletter"]').prop('checked')) {
                        newsletter = 1;
                    }

                    let dataToSend = {
                        'newsletter': newsletter
                    };


                    button.html('<i class="fas fa-spinner fa-pulse"></i>');
                    remove_errors();


                    $.ajax({
                        url: '{{ path('user_update_newsletter') }}',
                        data: dataToSend
                    }).done(function (event) {

                        button.html("{{ translation.page_account_save|raw }}");
                        errors.html('{{ translation.page_account_saved|raw }}');

                        setTimeout(function () {
                            errors.html('');
                        }, 5000);

                    }).fail(function (event) {

                        button.html("{{ translation.page_account_save|raw }}");
                        errors.html('{{ translation.page_errors_fire|raw }}');
                        errors.addClass('active');
                    });
                }

            });

            /**
             * Nettoie l'affichage des erreurs d'informations
             */
            function remove_errors() {
                var errors = $('#edit-newsletter-errors');

                errors.removeClass('active');
                errors.html('');
            }


        });
    </script>
{% endblock %}
