<div class="tab-pane fade show active" id="headers" role="tabpanel">

    <div class="item" data-id="1" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="2" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="3" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="3" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="3" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="3" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="1" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="2" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="3" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="3" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="3" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="3" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="1" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="2" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="3" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="3" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="3" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="3" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="1" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="2" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="3" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="3" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="3" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

    <div class="item" data-id="3" data-category="1">
        <div class="preview">
            <img src="{{ asset('assets/modules/templates/images/no_preview.jpeg') }}" alt="">
        </div> {# /.preview #}
        <div class="content">
            <div class="column full">
                <h1 class="title">Votre titre</h1>
                <p class="subtitle">Un sous-titre complémentaire</p>
            </div> {# /.colum full #}
        </div> {# /.content #}
    </div>{# /.row #}

</div>

<div class="tab-pane fade" id="images" role="tabpanel">

</div>

<div class="tab-pane fade" id="products" role="tabpanel">

</div>

<div class="tab-pane fade" id="footers" role="tabpanel">

</div>

<div class="tab-pane fade" id="buttons" role="tabpanel">

</div>

<div class="tab-pane fade" id="titles" role="tabpanel">

</div>

<div class="tab-pane fade" id="paragraphs" role="tabpanel">

</div>

<div class="tab-pane fade" id="articles" role="tabpanel">

</div>

<div class="tab-pane fade" id="parteners" role="tabpanel">

</div>

<div class="tab-pane fade" id="faq" role="tabpanel">

</div>